@{
    ViewBag.Title = "Register";
}

<h2>Please fill the form to register!</h2>

<form name="Reg" action="success" method="get" onsubmit="return ValidateForm()">
    <p>First Name:</p>

    <input type="text" id="First" name="FirstName" />

    <p>Email:</p>

    <input type="text" id="Email" name="Email" />

    <input type="submit" name="submit" value="Submit">
</form>

<script>
    function ValidateForm() {
        //var fName = document.forms["Reg"]["FirstName"].Value;
        var fName = $("#First").val();
        var email = $("#Email").val();
        if (fName === "" && email === "") {
            alert("Name and email must be filled out.");
            return false;
        }
        else if (fName === "") {
            alert("Name must be filled out.");
            return false;
        }
        else if (email === "") {
            alert("Email must be filled out.");
            return false;
        }
    }
</script>